{
  "extends": [
    "react-app",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["jsx-a11y", "react", "prettier"],
  "rules" : {
    "prettier/prettier": "error",
    "semi": ["error", "never"],
    "quotes": ["error", "single"],
    "indent": ["error", 2],
    "react/jsx-uses-react": "error",   
    "react/jsx-uses-vars": "error"
   }
}
