@import '../../SCSS/config';

.page {
  padding: 100px;
  display: flex;
  flex-direction: column;

  &__title {
    color: $primary;
    text-align: center;
  }

  &__text {
    text-align: center;
    margin-bottom: 40px;
  }
}

.image-upload {
  display: flex;
  justify-content: space-between;

  &__field {
    display: block;
  }

  &__image {
    width: 150px;
    margin-left: 10px;
    border-radius: 16px;
  }
}
