@import '../../SCSS/config';

.edit-page {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;

  &__title {
    color: $primary;
    text-align: center;
  }

  &__text {
    text-align: center;
    margin-bottom: 40px;
  }
}
