@import '../../SCSS/config';

.participant {
  @include flexSpaceBetween;
  width: 100%;
  margin-bottom: $smallSpacing;

  &__user-info {
    @include flexStart;
  }

  &__image {
    @include borderRadiusSmall;
    width: $smallProfileImageSize;
    height: $smallProfileImageSize;
    object-fit: cover;
  }

  &__link {
    text-decoration: none;
  }

  &__name {
    text-align: left;
    color: $link;
    font-family: $nunito;
    font-size: $text;
    font-weight: bold;
    margin: 0;
  }

  &__delete {
    color: $primary;
    cursor: pointer;
    margin-left: 10px;
  }

  &__approve {
    color: #259242;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
}
