@import '../../SCSS/config';

.my-events {
  margin-top: 100px;
  justify-content: space-between;
  height: 90vh;

  &__controls {
    position: fixed;
    height: fit-content;
    width: 20vw;
    padding-left: 40px;
  }

  &__content {
    @include flexCenter;
    width: 80vw;
    margin-left: auto;
    height: fit-content;
  }
}

@media only screen and (max-width: 1024px) {
  .my-events {
    &__controls {
      position: static;
      width: 100%;
      margin-bottom: 40px;
      padding: 0;
    }

    &__content {
      width: 100%;
    }
  }
}
