@import '../../SCSS/config';

.button {
  font-family: $roboto;
  border-style: none;
  border-radius: 4px;
  background-color: $default;
  padding: 5px 10px;
  margin: 10px 10px;  
  font-size: $text;
  color: $textLight;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &--primary {
    background-color: $primary;
    font-size: $text;
    color: $textLight;
  }

  &--primary:hover {
    background-color: white;
    border: 1px solid $primary;
    color: $primary;
  }

  &--secondary {
    background-color: $secondary;
    font-size: $text;
    color: $textDark;
  }

  &--secondary:hover {
    background-color: white;
    border: 1px solid $secondary;
    color: $textDark;
  }

  &--large-active {
    background-color: $primary;
    font-size: $sub-head;
    color: $textLight;
    text-align: left;
  }

  &--large {
    background-color: $secondary;
    font-size: $sub-head;
    color: $textDark;
    text-align: left;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .button {
    min-width: 90%;
    height: 65px;
  }
}

@media only screen and (max-width: 765px) {
  .button {
    min-width: 90%;
    height: 45px;
  }
}
