@import '../../SCSS/config';

.confirmed-event {
  display: flex;
  flex-direction: column;

  &__details {
    display: flex;
  }

  &__description {
    width: fit-content;
    max-width: 400px;
    margin: 0 0 0 20px;
    padding-left: 20px;
    border-left: 1.5px solid $textDim;
    font-family: $nunito;
    font-size: $text;
    color: $textDark;
  }

  &__line {
    @include separator;
  }

  &__content {
    display: flex;
    max-width: 60vw;
  }

  &__buttons {
    $height: 194px;

    & * {
      margin: 0 0 calc(#{$height}/ 4 / 2) 0;
      width: 100%;
      height: calc(194px / 4);
    }
  }
}

@media only screen and (max-width: 1024px) {
  .confirmed-event {
    &__content {
      display: block;
    }

    &__buttons {
      @include threeButtonsInline;
    }

    &__details {
      padding: 0 2%;
    }

    &__description {
      width: 300px;
      max-width: fit-content;
    }
  }
}

@media only screen and (max-width: 768px) {
  .confirmed-event {
    &__content {
      max-width: 98vw;
    }

    &__buttons {
      flex-direction: column;

      & * {
        width: 100%;
        margin-bottom: 15px;
      }
    }

    &__details {
      flex-direction: column;

      & div {
        margin: 0;
      }
    }

    &__description {
      width: fit-content;
      border: none;
      padding: 0;
      margin: 0;
    }
  }
}
