@import '../../SCSS/config';

.modal {
  &__title {
    color: $secondary;
    font-family: $montserrat;
    font-size: $sub-head;  
    text-align: center;
  }

  &__buttons {
    @include twoButtonsInline;
  }

  &__warning {
    color: $textDark;
    font-size: $subtitle;
    font-family: $nunito;
    font-weight: 100;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .modal {
    &__title {
      margin-top: 40px;
      font-size: $text;
    }

    &__buttons {
      flex-direction: column;
      & * {
        width: 100%;
      }
    }
  }
}
