@import '../../SCSS/config';

.modal {
  &__title {
    @include subheader;
    color: $secondary;
    text-align: center;
  }

  &__text {
    @include text;
    text-align: center;
  }

  &__buttons {
    @include twoItemsInline;
  }
}

@media only screen and (max-width: 600px) {
  .modal {
    &__title {
      margin-top: $largeSpacing;
    }

    &__buttons {
      @include columnFullWidthItems;
    }
  }
}
