@import '../../SCSS/config';

.participant {
  @include flexSpaceBetween;
  width: 100%;
  margin-bottom: $smallSpacing;

  &__user-info {
    @include flexStart;
    align-items: center;
  }

  &__link {
    text-decoration: none;
  }

  &__name {
    @include text;
    @include link;
    font-weight: bold;
  }

  &__delete {
    @include iconHoverEffect;
    font-size: $sub-head;
    color: $primary;
    cursor: pointer;
  }
}
