@import '../../SCSS/config';

.event {
  display: flex;
  flex-direction: column;
  position: relative;

  &__modal-title {
    color: $secondary;
    font-family: $montserrat;
    font-size: $sub-head;
    text-align: center;
  }

  &__modal-buttons {
    @include twoButtonsInline;
    margin-top: 30px;
  }

  &__modal-warning {
    color: $textDark;
    font-size: 12px;
    font-style: italic;
    font-family: $nunito;
    font-weight: 100;
    text-align: justify;
  }

  &__modal-buttons {
    margin-top: 30px;
    width: 70%;
    @include flexCenter;
  }

  &__manage {
    color: $textDark;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 0;
  }

  &__description {
    width: 100%;
    font-family: $nunito;
    font-size: $text;
    color: $textDark;
  }

  &__buttons {
    display: flex;
  }

  &__line {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: $textDim;
    height: 1.5px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .event {
    &__buttons {
      display: inline;

      & * {
        margin-top: 5px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .event {
    width: 100vw;

    &__buttons {
      padding: 0 2%;
      display: inline;

      & * {
        margin-top: 5px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .event {
    &__modal-title {
      margin-top: 40px;
      font-size: $text;
    }

    &__modal-buttons {
      flex-direction: column;
      & * {
        width: 100%;
      }
    }
  }
}
