@import '../../SCSS/config';

.main {
  width: 100vw;
  max-width: 100%;
  padding: 0 3em;
  box-sizing: border-box;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;

  &__filter-icon {
    @include flexCenter;
    color: $primary;
    position: fixed;
    top: 120px;
    left: 15px;
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.836);
    box-shadow: 0px 0px 2px $textDark;
    border-radius: 2px;

    &--hide {
      display: none;
    }
  }

  &__search-box {
    width: 25vw;
    height: 350px;
    padding: 15px;
    border-radius: 8px;
    margin-top: 25px;
    background-color: $textLight;

    &--hide {
      display: none;
    }

    &--modal {
      position: fixed;
      width: 90vw;
      top: 150px;
      border-radius: 0px;
      background-color: rgba(255, 255, 255, 0.932);
      border-top: 0.5px solid $textDark;
      border-bottom: 0.5px solid $textDark;
    }
  }

  &__events {
    width: 63vw;
    padding: 15px;
  }
}

@media only screen and (max-width: 1024px) {
  .main {
    &__filter-icon {
      top: 130px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .main {
    padding: 0em 0.5em;
  }

  .actions {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    padding: 0em;
  }
}
