@import '../../SCSS/config';

.main {
  width: 100vw;
  max-width: 100%;
  padding: 0 3em;
  box-sizing: border-box;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;

  &__searchBox {
    width: 25vw;
    padding: 15px;
    border-radius: 8px;
    background-color: $textLight;
    @include flexCenter;
  }

  &__events {
    width: 63vw;
    padding: 15px;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
  .main {
    padding: 0em;
  }
}
