@import '../../SCSS/config';

.comment {
  @include borderRadiusSmall;
  display: flex;
  margin: $smallSpacing 0 0;
  padding: $smallSpacing;
  background-color: $backgroundDim;

  &__link {
    @include link;
  }

  &__user {
    @include text;
    margin: 0;
    padding: 0 $smallSpacing;
  }

  &__date {
    color: $textDim;
    font-size: $subtitle;
  }

  &__text {
    @include text;
    margin: 0;
    padding: 0 $smallSpacing;
  }
}
