@import '../../SCSS/config';

.footer {
  background-color: $default;
  color: $textLight;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__container {
    flex: 1;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__link {
    color: $textLight;
    text-decoration: none;
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__image {
    &--logo {
      height: 60px;
    }
  }

  &__icon {
    font-size: $heading;
    margin: 0px 40px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    background-color: $default;
    display: block;
    text-align: center;
    &__container {
      display: block;
    }

    &__icon {
      margin-bottom: 10px;
    }
  }
}
