@import '../../SCSS/config';

.slider {
  font-size: $text;
  font-family: $montserrat;
  color: $textDark;
  font-weight: 600;
  position: relative;
  padding-top: 10px;

  &__range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    outline: none;
    border-radius: 3px;
    margin: 0;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 13px;
      height: 13px;
      border-radius: 3px;
      background: $primary;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      appearance: none;
      width: 13px;
      height: 13px;
      border-radius: 3px;
      background: $primary;
      cursor: pointer;
    }
  }

  &__subset-labels {
    display: flex;
    justify-content: space-between;
    font-size: $subtitle;
    font-style: italic;

    &--text {
      margin: 5px 0;
    }
  }

  &__value {
    padding: 0;
    margin: 10px 0;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    font-size: $subtitle;
    color: $primary;
    text-align: center;
  }
}
