@import '../../SCSS/config';

.hosted-event {
  @include flexColumn;

  &__content {
    display: flex;
  }

  &__buttons {
    @include flexColumn;
    height: $eventImageSize;

    & * {
      width: 100%;
      height: calc($eventImageSize / 5);
      margin: 0 0 calc(#{$eventImageSize}/ 5 / 3) 0;
    }
  }

  &__line {
    @include separator;
  }
}

@media only screen and (max-width: 1024px) {
  .hosted-event {
    &__content {
      display: block;
    }

    &__buttons {
      margin-top: $smallSpacing;
    }
  }
}
