@import '../../SCSS/config';

.event-edit-page {
  min-width: 100vw;
  display: flex;
  justify-content: center;
  margin: 130px 0px 100px 0px;
}

.loading {
  margin-top: 45vh;
  text-align: center;
  font-size: $heading;
  color: $primary;
}

@media only screen and (max-width: 600px) {
  .event-edit-page {
    margin: 100px 0px 50px 0px;
  }
}
