@import '../../SCSS/config';

.dropdown {
  width: 130px;
  background-color: white;
  box-shadow: 0px 0px 2px $textDark;
  border-radius: 4px;
  position: absolute;
  top: 150px;
  left: 85vw;

  &__item {
    text-align: left;
    font-family: $nunito;
    font-size: 14px;
    font-weight: bold;
    color: $textDark;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  &__item:hover {
    background-color: $secondary;
  }
}

@media only screen and (max-width: 1024px) {
  .dropdown {
    left: 83vw;
  }
}

@media only screen and (max-width: 768px) {
  .dropdown {
    left: 80vw;
  }
}
@media only screen and (max-width: 600px) {
  .dropdown {
    left: 63vw;
  }
}
