@import '../../SCSS/config';

.drop-down {
  @include borderRadiusSmall;
  @include shadow;
  width: fit-content;
  position: absolute;
  top: -$smallSpacing;
  right: $smallSpacing;
  padding: 0;

  &__item {
    @include text;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: $smallSpacingMobile;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    list-style: none;

    &:hover {
      background-color: $secondary;
    }
  }
}
