@import '../../SCSS/config';

.interested-event {
  display: flex;
  flex-direction: column;

  &__description {
    max-width: 60vw;
    font-family: $nunito;
    font-size: $text;
    color: $textDark;
  }

  &__line {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: $textDim;
    height: 1.5px;
    margin-top: 30px;
  }

  &__buttons {
    @include twoButtonsInline;
  }
}
