@import '../../SCSS/config';

.body {
  width: 100vw;
  height:100vh;
  background-image: url(../../Assets/football.jpg);
  background-color: rgb(192, 251, 255);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__circles {
      width:100vw;
      display: flex;
      justify-content: center;
      align-items: center;
  }
   
  &__circle1 {
       width: 350px;
       height:350px;
       position: absolute;
       top:25vh;
       left:30vw;
       background-color: #e03400c2;
       border-radius: 50%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

   &__circle2 {
       width: 350px;
       height:350px;
       position: absolute;
       top:25vh;
       left:50vw;
       background-color: #e03400c2;
       border-radius: 50%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

   &__highlight {
       width:250px;
       text-align: center;
       font-size: $heading;
       font-family: $montserrat;
       line-height: 150%;
       margin-bottom: 5px;
       color:$textLight
   }

   &__text {
       width:230px;
       text-align: center;
       font-size: $sub-head;
       font-family: $nunito;
       line-height: 150%;
       margin-top: 5px;
       color:$textDark
   }

   &__button {
       position: absolute;
       top:80vh;
       width:100vw;
       display:flex;
       justify-content: center;
   }
}



@media only screen and (max-width:1024px) {
    .body {
       background-image: url(../../Assets/bulldog.jpg);

       &__circle1 {
           left:22vw
       }

       &__button {
           left:0vw
       }
    }
}
@media only screen and (max-width:768px) {
    .body {
       background-image: url(../../Assets/bulldog.jpg);

       &__circle1 {
           left:10vw
       }
       &__circle2 {
           left:48vw
       }

       &__button {
           left:0vw
           
       }

    }
}

@media only screen and (max-width: 600px){
    .body {
       background-image: url(../../Assets/winter.jpg); 

       &__circles {
           flex-direction: column;
           align-items: center;
       }

       &__circle1 {
        position:static;
        background-color: rgba(255, 255, 255, 0);
        border-bottom: 2px solid $primary;
        width: 250px;
        height:250px;

       }

       &__circle2 {
        position:static;
        background-color: rgba(255, 255, 255, 0);
        border-bottom: 2px solid $primary;
        width: 250px;
        height:250px;
       }

       &__highlight {
           font-size: $sub-head;
           color:$secondary
       }

       &__text {
           color:$textLight;
           font-size: $text;
       }

       &__button {
           position: static;
           display: flex;
           justify-content: center;
           margin-top: 20px;
       }
    }
    
}




