@import '../../SCSS/config';

.action {
  &__wrapper {
    @include flexCenter;
    flex-direction: column;
  }

  &__title {
    color: $textDark;
    font-family: $montserrat;
    font-size: $sub-head;
    text-align: center;
  }

  &__buttons {
    margin-top: 30px;
    width: 70%;
    @include flexCenter;
  }
}

@media only screen and (max-width: 600px) {
  .action {
    &__title {
      margin-top: 40px;
      font-size: $text;
    }

    &__buttons {
      width: 90%;
      flex-direction: column;
    }
  }
}
