@import '../../SCSS/config';

.textarea {
  width: 100%;
  @include flexColumn;

  &__label {
    @include inputLabel;
    &--required {
      color: $primary;
    }
  }

  &__field {
    resize: vertical;
    outline: none;
    border: none;
    border-bottom: 2px solid $primary;
    @include text;
  }
}
