@import '../../SCSS/config';

.form {
  &__label {
    @include inputLabel;

    &--required {
      color: $primary;
    }
  }

  &__field {
    width: 100%;
    background-color: transparent;
    display: block;
    outline: none;
    border-bottom: 2px solid $primary;
    padding-top: $mobileSmallSpacing;

    &:read-only {
      border: none;
      color: $textDim;
    }
  }
}
