@import '../../SCSS/config';

$imageHeight: 50px;

.nav {
  @include flexSpaceBetween;
  width: 100%;
  max-width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 1;

  &__overlay {
    background: rgba(255, 255, 255, 0.925);
    border-bottom: 1.5px solid $textDark;
  }

  &__logo {
    height: $imageHeight + 10px;
    margin-left: $largeSpacing;
  }

  &__options {
    @include flexCenter;
  }

  &__icon {
    color: $secondary;
    font-size: $heading;
    margin: auto $smallSpacing;
    cursor: pointer;
  }

  &__profile-image {
    @include borderRadiusSmall;
    @include shadow;
    width: $imageHeight;
    height: $imageHeight;
    margin: auto $largeSpacing auto $smallSpacing;
    object-fit: cover;
  }

  &__login {
    margin-right: $largeSpacing;
  }
}

@media only screen and (max-width: 600px) {
  .nav {
    height: 80px;
    
    &__logo {
      margin-left: $smallSpacing;
    }

    &__icon {
      font-size: $sub-head;
      margin: auto 10px;
    }

    &__profile-image { 
      margin: auto 10px;
    }
  }
}
