@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito&display=swap');

// Colors
$primary: #e03600;
$secondary: #f28705;
$backgroundDim: #fff2e2;
$default: #401e02;
$textDark: #2a2a2a;
$textLight: rgb(242, 242, 242);
$textDim: #666666;
$lineDim: #606060;
$link: #001fc1;

//Fonts
$montserrat: 'Montserrat', sans-serif;
$nunito: 'Nunito', sans-serif;
$roboto: 'Roboto', sans-serif;

// Font sizes
$heading: 30px;
$sub-head: 22px;
$text: 18px;
$subtitle: 13px;

// Standard sizes
$largeSpacing: 40px;
$smallSpacing: 20px;

// Mixins
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexStart {
  display: flex;
  justify-content: flex-start;
}

@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin twoButtonsInline {
  @include flexSpaceBetween;
  width: 100%;

  & * {
    flex-grow: 0;
    width: 49%;
  }
}

@mixin threeButtonsInline {
  width: 96%;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;

  & * {
    flex-grow: 0;
    width: 30%;
  }
}

@mixin separator {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: $textDim;
  height: 1.5px;
  margin-top: 30px;
}

@mixin borderRadiusSmall {
  border-radius: 6px;
}

@mixin shadow {
  box-shadow: 0px 0px 2px rgb(41, 41, 41);
}
