@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito&display=swap');

// Colors
$primary: #e03600;
$secondary: #f28705;
$default: #401e02;
$textDark: #2a2a2a;
$textLight: #f2f2f2;

//fonts
$montserrat: 'Montserrat', sans-serif;
$nunito: 'Nunito', sans-serif;
$roboto: 'Roboto', sans-serif;

// font sizes
$heading: 30px;
$sub-head: 22px;
$text: 18px;
