@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito&display=swap');

// Colors
$primary: #e03600;
$secondary: #f28705;
$backgroundDim: #fff2e2;
$default: #401e02;
$textDark: #2a2a2a;
$textLight: #f2f2f2;
$textDim: #666666;
$lineDim: #606060;
$link: #001fc1;

//Fonts
$montserrat: 'Montserrat', sans-serif;
$nunito: 'Nunito', sans-serif;
$roboto: 'Roboto', sans-serif;

// Font sizes
$heading: 30px;
$sub-head: 22px;
$text: 18px;
$subtitle: 13px;

// Mixins
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexStart {
  display: flex;
  justify-content: flex-start;
}
