@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito&display=swap');

// COLORS
$primary: #e03600;
$secondary: #f28705;
$backgroundDim: #fff2e2;
$default: #401e02;
$textDark: #2a2a2a;
$textLight: rgb(242, 242, 242);
$textDim: #666666;
$lineDim: #606060;
$link: #001fc1;

// FONTS
$montserrat: 'Montserrat', sans-serif;
$nunito: 'Nunito', sans-serif;
$roboto: 'Roboto', sans-serif;

// FONT SIZES
$heading: 30px;
$sub-head: 22px;
$text: 18px;
$subtitle: 13px;
$lineHeight: 140%;

// SIZE CONSTANTS - LARGE SCREENS
$largeSpacing: 40px;
$smallSpacing: 20px;
$profileImageSize: 50px;
$navHeight: 100px;
$footerHeight: 65px;
$pagePadding: calc(#{$navHeight + $largeSpacing}) $largeSpacing
  calc(#{$footerHeight + $largeSpacing});

// SIZE CONSTANTS - MOBILE SCREENS
$largeSpacingMobile: 20px;
$smallSpacingMobile: 10px;
$navHeightMobile: 100px;
$footerHeightMobile: 60px;
$pagePaddingMobile: calc(#{$navHeightMobile + $largeSpacingMobile})
  $largeSpacingMobile calc(#{$footerHeightMobile + $largeSpacingMobile});

// FONT MIXINS
@mixin header {
  font-family: $montserrat;
  font-size: $heading;
  color: $textDark;
  font-weight: 600;
}

@mixin subheader {
  font-family: $montserrat;
  font-size: $sub-head;
  color: $textDark;
}

@mixin text {
  font-family: $nunito;
  font-size: $text;
  color: $textDark;
  line-height: $lineHeight;
}

@mixin link {
  text-decoration: none;

  &:hover {
    color: $secondary;
  }
}

// LAYOUT MIXINS
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexStart {
  display: flex;
  justify-content: flex-start;
}

@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexColumnCenter {
  @include flexColumn;
  align-items: center;
}

@mixin twoButtonsInline {
  @include flexSpaceBetween;
  width: 100%;

  & * {
    flex-grow: 0;
    width: 49%;
  }
}

@mixin threeButtonsInline {
  width: 96%;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;

  & * {
    flex-grow: 0;
    width: 30%;
  }
}

@mixin columnFullWidthItems {
  flex-direction: column;
  & * {
    width: 100%;
  }
}

// STYLE MIXINS
@mixin separator {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: $textDim;
  height: 1.5px;
  margin-top: 30px;
}

@mixin borderRadiusSmall {
  border-radius: 6px;
}

@mixin shadow {
  box-shadow: 0px 0px 2px rgb(41, 41, 41);
}

@mixin inputLabel {
  width: 100%;
  font-family: $montserrat;
  color: $textDark;
  font-weight: 600;
  margin-bottom: 10px;
}
