@import '../../SCSS/config';

.comment-section {
  width: 100%;
  padding-bottom: $largeSpacing;

  &__title {
    @include subheader;
    color: $primary;
  }

  &__placeholder {
    @include subtitle;
  }
}
